aiocron==1.8
aiofiles==24.1.0
aiogram==3.13.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
astor==0.8.1
async-timeout==4.0.3
asyncpg==0.30.0
attrs==24.2.0
bandit==1.7.10
certifi==2024.8.30
cffi==1.16.0
click==8.1.7
croniter==5.0.1
cryptography==42.0.8
darglint==1.8.1
docutils==0.21.2
eradicate==2.3.0
flake8==7.1.1
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==24.8.19
flake8-commas==2.1.0
flake8-comprehensions==3.16.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
isort==5.13.2
magic-filter==1.0.12
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.3.0
multidict==6.1.0
packaging==24.1
pbr==6.1.0
pep8-naming==0.13.3
pluggy==1.5.0
propcache==0.2.0
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.3.3
pytest-asyncio==0.24.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ulid==1.1.0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
restructuredtext_lint==1.4.0
rich==13.9.3
setuptools==75.3.0
six==1.16.0
snowballstemmer==2.2.0
SQLAlchemy==2.0.36
stevedore==5.3.0
types-cffi==1.16.0.20240331
types-pyOpenSSL==24.1.0.20240425
types-redis==4.6.0.20240425
types-setuptools==70.1.0.20240627
typing_extensions==4.12.2
tzlocal==5.2
wemake-python-styleguide==0.19.2
yarl==1.17.1
